<%= form_with model: @song, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :program %><br>
    <%= form.text_area :order %>
  </p>
  <p>
    <%= form.label :notes %><br>
    <%= form.text_area :notes %>
  </p>
  <p>
    <%= form.label :lyrics %><br>
    <%= form.text_area :lyrics %>
  </p>
  <p>
    <%= form.label :tempo %><br>
    <%= form.number_field :tempo %>
  </p>
  <p>
      <%= form.label :members %>
      <%=  form.collection_check_boxes :members, @members, :id, :name, include_hidden: false %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
