<h1>Show Song</h1>

<h2>Title: <%= @song["title"]%></h2>
<br>
<p>Program: <%= @song["program"]%></p>
<br>
<p>Order: <%= @song["order"]%></p>
<br>
<p>Tempo: <%= @song["tempo"]%></p>
<br>
<p>Notes: <%= @song["notes"]%></p>
<br>
<p>Lyrics: <%= @song["lyrics"]%></p>
<br>

 <p>Members:<% @song.members.each do |member| %>
 <%= member.name %>, 
<%end%>
</p>
   <%= link_to 'Remove song', song_path(@song), method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Edit song', edit_song_path(@song) %>
    <%= link_to 'Index', songs_path %>

