<h1>Show Song</h1>

<h2>Title: <%= @song["title"]%></h2>
<br>
<p>Program: <%= @song["program"]%></p>
<br>
<p>Order: <%= @song["order"]%></p>
<br>
<p>Notes: <%= @song["notes"]%></p>
<br>
<p>Lyrics: <%= @song["lyrics"]%></p>
<br>
<p>Tempo: <%= @song["tempo"]%></p>
<br>


